# US Visa Prediction Project
life cycle of Machine Learning Project
* Understanding the problem definition 
* Data collection
* EDA (Exploratory Data Analysis)
* Data Cleaning 
* Data Preprocessing
* Model training 
* Choose best model

### About
The immigration and Nationality Act(INA) of the USA permits foreign workers to come to the united states to work on either a temporary or permanent basis . The act also protects US workers against advertise impacts on working place and maintain requirements when they hire foreign workers to fill workforce shortages. The immigration programs are administered by the Office of the Foreign labor Certification(OFLC)

## 1) Problem Statement
* OFLC gives job certification application for employers seeking to bring foreign workers into the united states and grants certifications.
* As in last year the count of employees were huge so OFLC needs Machine Learning models to shortist visa application based on their previous data

In this project we are going to use the data given to build a Classification model:
* This model is to check if Visa get approved or not based on given dataset
* This can be used to Recommend a suitable profile for the applicants for whom the visa should be certified of denied based on the certain crieteria which influence the decision


## 2) Data collection

* The Daaset is part of Office of Foreign Labor Certification (OFLC)
* The data consists of 25480 rows and 12 columns 
https://www.kaggle.com/datasets/moro23/easyvisa-dataset

2.1) Import Data and Required Packages

* Importing pandas , numpy , matplotlib , seaborn and warning libraries

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import seaborn as sns 
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

%matplotlib inline

In [18]:
df = pd.read_csv("visadataset.csv")

In [19]:
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25480 entries, 0 to 25479
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   case_id                25480 non-null  object
 1   continent              25480 non-null  object
 2   education_of_employee  25480 non-null  object
 3   has_job_experience     25480 non-null  object
 4   requires_job_training  25480 non-null  object
 5   no_of_employees        25480 non-null  int64
 6   yr_of_estab            25480 non-null  int64
 7   region_of_employment   25480 non-null  object
 8   prevailing_wage        25480 non-null  float64
 9   unit_of_wage           25480 non-null  object
 10  full_time_position     25480 non-null  object
 11  case_status            25480 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 2.3+ MB

In [21]:
df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [22]:
df.isna().sum()

case_id                  0
continent                0
education_of_employee    0
has_job_experience       0
requires_job_training    0
no_of_employees          0
yr_of_estab              0
region_of_employment     0
prevailing_wage          0
unit_of_wage             0
full_time_position       0
case_status              0
dtype: int64

In [30]:
# define numerical and categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != "O"]
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

print("We have {} numerical features : {}".format(len(numeric_features), numeric_features))
print("\n we have {} categorical features : {}".format(len(categorical_features), categorical_features))

We have 3 numerical features : ['no_of_employees', 'yr_of_estab', 'prevailing_wage']

 we have 9 categorical features : ['case_id', 'continent', 'education_of_employee', 'has_job_experience', 'requires_job_training', 'region_of_employment', 'unit_of_wage', 'full_time_position', 'case_status']

In [31]:
numeric_features

['no_of_employees', 'yr_of_estab', 'prevailing_wage']

In [ ]:
# proportion of count data and categorical column